/* Importa Tailwind completo (base + utilidades) */
@import 'tailwindcss';

/* Define tu tema personalizado */
@theme {
  --breakpoint-xxxs: 10rem;
  --breakpoint-xxs: 20rem;
  --breakpoint-xs: 30rem;
  /*-------------- Colors --------------*/
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #3b82f6;
  --color-secondary: #1e40af;

  /*-------------- Fonts --------------*/
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;

  /*-------------- Other variables --------------*/
  --rounded-lg: 0.5rem;
}

/* Dark mode override */
@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-primary: #60a5fa;
    --color-secondary: #1e3a8a;
  }
}

/* Global base styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
/* Variables para scroll */
:root {
  --scroll-thumb: #3b82f6; /* blue-500 */
  --scroll-track: #e5e7eb; /* gray-200 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --scroll-thumb: #1e293b;
    --scroll-track: #00000000;
  }
}

/* Scroll para toda la página */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--scroll-thumb) var(--scroll-track); /* Firefox */
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 6px;
  border: 3px solid var(--scroll-track); /* margen entre thumb y track */
}

html::-webkit-scrollbar-thumb:hover {
  opacity: 0.8; /* efecto hover */
}

.input {
  @apply w-full rounded-xl bg-slate-950 border border-slate-800 hover:border-blue-500 px-3 py-2 text-white placeholder-slate-500 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.file {
  @apply text-sm file:mr-3 file:rounded-lg file:border-0 file:bg-slate-800 file:px-4 file:py-2 file:text-white hover:file:bg-slate-700;
}
